body {
  height: 100%;
  width: 100%;
  color: white;
  background: #323232;
}

#user-playlists-songs tr:hover {
  background: #1e1e1e;
}

#user-playlists tr:hover {
  background: #1e1e1e;
}

#login {
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 400px;
  width: 400px;
}

#user-profile {
  height: 1000px
  width: 50%
}

#user-playlists {
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: grey;
  float: left;
  height: 98vh;
  width: 10%;
}

#user-playlists-songs {
  float: left;
  height: 800px;
  overflow: auto;
  width: 80%;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.frame {
  fill: none;
  stroke: #000;
}

.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis circle {
  fill: none;
  stroke: #777;
  stroke-dasharray: 1,4;
}

.axis :last-of-type circle {
  stroke: #333;
  stroke-dasharray: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.legend {
  font-size: 16px;
}
rect {
  stroke-width: 2;
}